@model LeBataillon.Database.Models.Team

@{
    ViewData["Title"] = @SharedLocals["Save"];
}

<h1>@SharedLocals["Edit"]</h1>

<h4>@SharedLocals["Team"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Captain.Id"class="control-label">Captain</label>
                <input asp-for="Captain.Id" class="form-control" />
                <span asp-validation-for="Captain.Id" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="JoueurMaximum" class="control-label"></label>
                <input asp-for="JoueurMaximum" class="form-control" />
                <span asp-validation-for="JoueurMaximum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
               <partial name="_Buttons"></partial>
            </div>
        </form>
    </div>
</div>



@section Scripts {
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  <script src="https://cdn.tiny.cloud/1/hv1o5juacdixw1gzpygk47t9qmpfcv591k8whfq2lv9019g5/tinymce/5/tinymce.min.js"></script>"

  <script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'lists',
    menubar: 'file edit format'
  });

 

  </script>
}
