@model LeBataillon.Database.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameDateTime" class="control-label"></label>
                <input asp-for="GameDateTime" class="form-control" />
                <span asp-validation-for="GameDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamDefendantId" class="control-label"></label>
                <input asp-for="TeamDefendantId" class="form-control" />
                <span asp-validation-for="TeamDefendantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamAttackerId" class="control-label"></label>
                <input asp-for="TeamAttackerId" class="form-control" />
                <span asp-validation-for="TeamAttackerId" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <select asp-for="status" asp-items="Html.GetEnumSelectList<LeBataillon.Database.Models.GameStatus>()" class="form-control" ></select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
               <partial name="_Buttons"></partial>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
