@model LeBataillon.Database.Models.Player

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NickName" class="control-label"></label>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <select asp-for="Level" class="form-control"></select>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <input asp-for="TeamId" class="form-control" />
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <partial name="_Buttons">
            </div>
        </form>
    </div>
</div>



@section Scripts {


     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  <script src="https://cdn.tiny.cloud/1/hv1o5juacdixw1gzpygk47t9qmpfcv591k8whfq2lv9019g5/tinymce/5/tinymce.min.js"></script>"

  <script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'lists',
    menubar: 'file edit format'
  });


  </script>

  <script>
      $('Button').on('click', function() {
          Command: toastr["success"]("Create Réussi")

toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-top-right",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
      })
  </script>
}
